*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 4rem auto;
}

div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  text-align: center;
}

input {
  font-size: 1.5rem;
  margin: 1rem 0;
}

button {
  display: flex;
  padding: 0.5rem 1.2rem;
  font-size: 1.2rem;
}

ul li{
  list-style: none;
  border: 4px solid black;
  padding: 0.7rem 0;
  margin: 1rem 0;
  width: 18rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
